{% extends 'base.html' %}

{% block content %}
<h1 class="header1">{% block title %}Blog{% endblock %}</h1>
<div class="blogposts">
{% for post in posts %}
<div class="posts">
	<p class="ptitle">{{ post.title }}</p>
	<p class="onumber">{{ loop.index }}</p> <!--to print the ordinal number of each post-->
	<p class="ptext">{{ post.text }}<form method="post" action="/blog_posts">
		<button name="post_id" class="school" onclick="alert('You have liked the post')">Like</button> <!--button should have a name for backend-->
	</form></p>
	<p class="pdate">{{ post.datetime }}</p>
	<p class="plike">Likes: {{ post.likes }}</p>
</div>
{% endfor %}
</div>
{% endblock %}